* {

    margin: 0;
    padding: 0;
    background-color: white;

}

.videocelu {

    display: none;

}

@media (max-width:1000px) {
    

    .videocompu {

        display: none;

    }

    .videocelu {

        display: block;

    }

}